<h3>Welcome to TF2Frags.net</h3>
<p>TF2Frags.net is a community driven initiative to bring constant frag clips to the community.</p>
<p>The idea is simple, upload some clips, see them on stream. The clips don't have to be your own.</p>
<p>Everything is automated! Just constant frags.</p>

<h3>How To</h3>
<p>To upload a clip login with Steam and click 'Upload'. Select the type of clip you want to add to the stream and fill in the details. You can view the details of the clips you have added on the 'Manage' page.</p>
<p>While in stream you can help moderate by reporting clips that are not TF2 related. Just type !report in the chat and the clip will be reported for manual review. If a clip is boring type !skip. If enough people type it then it will be skipped.</p>
<p>Feel free to report any errors with the stream or site to me either through <a href="https://steamcommunity.com/id/Thermo-Nuclear/">Steam</a> or on Discord Thermite#5512.</p>

<br />
<p>Note: currently only Twitch Clips and YouTube videos are supported. Soon raw videos and Demos will be supported.</p>