<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: title}) %>

  <% include partials/header.ejs %>
  
  <div class='container bg-dark text-light'>
    <% include partials/navbar %>

    <%- include(page) %>
  </div>

  <% include partials/footer.ejs %>
</html>