<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: title}) %>

  <% include partials/header.ejs %>
  
  <div class='container bg-dark text-light'>
    <% include partials/navbar %>

    <hr width="100%" style="background-color: red" />

    <%- include(page) %>

    <hr width="100%" style="background-color: red" />
    
    <% include partials/footer.ejs %>
  </div>
</html>